@import 'variables/colors';
@import 'base/all';

@import 'partials/main-header';
@import 'partials/main-footer';

.content{
  padding-top: 30px;
  padding-bottom: 15px;
  overflow: hidden;
  @media(min-width:768px){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media(min-width:1200px){
    padding-top: 45px;
    padding-bottom: 45px;
  }
  &:before{
    content: "";
    height: 626px;
    width: 1920px;
    display: block;
    position: absolute;
    z-index: 1;
    background: url('../img/bg.jpg') no-repeat bottom center/100% auto;
    left: 50%; top: 0;
    transform: translate(-50%, 0);
    @media(max-width:767px){
      display: none;
    }
  }
  .container{
    position: relative;
    z-index: 2;
  }
}

h1{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 126.8%;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  @media(min-width:768px){
    font-size: 30px;
  }
  @media(min-width:1200px){
    font-size: 34px;
  }
}

.btn{
  background: #44AF44;
  display: block;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 125.9%;
  visibility: hidden;
  transition: .5s ease-in-out;
  transform: translate(0, 100%) scale(0);
  @media(min-width:768px){
    font-size: 22px;
  }
  @media(min-width:1200px){
    font-size: 24px;
  }
  @media(min-width:1921px){
    width: 746px;
  }
  &-show{
    visibility: visible;
    transform: translate(0, 0) scale(1);
  }
}

.video{
  position: relative;
  max-width: 800px;
  margin: 0 auto 30px;
  &-btn{
    padding: 10px;
    border: none;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%; top: 50%;
    z-index: 2;
    color: #fff;
    fill: #fff;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: 1s linear 0s infinite alternate scale;
    background: rgba(254, 111, 97, .4);
    @media(min-width:768px){
      width: 150px;
      height: 150px;
      padding: 30px;
    }
    @media(min-width:1200px){
      width: 200px;
      height: 200px;
    }
    &:hover{
      transition: transform 1s ease;
      opacity: .7;
      animation: none;
    }
    &__hide{
      display: none;
      animation: none;
      visibility: hidden;
      z-index: 0;
    }
    img{
      display: block;
      pointer-events: none;
    }
  }
  &-player{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

@keyframes scale {
  0%  { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.2); }
  100% { transform: translate(-50%, -50%) scale(1); }
}