.main-header{
  padding-top: 15px;
  @media(min-width:768px){
    padding-top: 30px;
  }
  @media(min-width:1200px){
    padding-top: 60px;
  }
  .row{
    & > div{
      display: flex;
      align-items: center;
    }
  }
  .logo{
    display: block;
    width: 100px;
    @media(min-width:1200px){
      width: 160px;
    }
    &-post{
      margin: 0 auto;
    }
  }
  .aws{
    &-container{
      width: 250px;
      max-width: 100%;
    }
    &-wrapper{
      position: relative;
      display: flex;
      align-items: center;
      &:before{
        content: "⚲";
        transform: rotate(-45deg);
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        z-index: 2;
        font-size: 20px;
      }
    }
    &-search-field{
      padding: 0 !important;
      border-color: transparent;
      &:hover, &:focus{
        border-bottom: 1px solid rgba(0,0,0, .4) !important;
      }
    }
  }
}

.main-nav{
  width: 100%;
  @media(max-width:767px){
    position: fixed;
    left: 0; top: 0;
    height: 100vh;
    background: $main-color;
    display: flex;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out;
    &.active{
      opacity: 1;
      visibility: visible;
      ul{
        transform: scale(1) translate(0, 0);
      }
    }
  }
  ul{
    width: 100%;
    @media(max-width:767px){
      text-align: center;
      transform: scale(0) translate(0, 100%);
      transition: transform .5s ease-in-out .3s;
    }
    @media(min-width:768px){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li{
      margin: 0;
      @media(max-width:767px){
        margin: 15px 0;
      }
      &.menu-item-has-children{
        position: relative;
        &:after{
          content:"▼";
          font-size: 75%;
          margin-left: 7.5px;
        }
        &:hover{
          .sub-menu{
            max-height: 1000px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
      a{
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $text-color;
        overflow: hidden;
        position: relative;
        @media(max-width:767px){
          font-size: 18px;
          line-height: 1.5;
        }
        &:after{
          transition: width .25s ease-in-out;
          content: "";
          width: 0px;
          height: 1.5px;
          background: $text-color;
          position: absolute;
          left: 0; top: 100%;
        }
        &:hover{
          &:after{
            width: 100%;
          }
        }
      }
      &.current-menu-item{
        a{
          font-weight: 700;
          cursor: default;
          pointer-events: none;
          &:hover{
            &:after{
              width: 0;
            }
          }
        }
      }
    }
    &.sub-menu{
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 999;
      display: block;
      max-width: 1000px;
      width: auto;
      transform: translate(-15px, 15px);
      min-width: 150px;
      background: #fff;
      box-shadow: 0 10px 60px rgba(0,0,0, .09);
      padding: 15px;
      max-height: 0px;
      visibility: hidden;
      opacity: 0;
      transition: .5s ease;
      li{
        display: block;
        &:not(:first-child){
          margin-top: 7.5px;
        }
      }
    }
  }
  &-btn{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: inline-block;
    margin-left: 10px;
    @media(min-width:768px){
      display: none;
    }
    span{
      height: 1px;
      background: $text-color;
      display: block;
      width: 100%;
      margin: 5px 0;
      transition: transform .3s ease;
    }
    &.active{
      position: relative;
      z-index: 99999;
      span{
        position: absolute;
        &:nth-child(1){
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
        }
      }
    }
  }
}


.aws{
  &-search-result{
    border:none;
    box-shadow: 0px 4px 4px rgba(0,0,0, .4);
    .aws_result_title{
      color: $text-color !important;
      font-size: 15px;
      margin-bottom: 5px;
    }
    .aws_result_price{
      font-size: 15px;
      font-weight: 700;
      del{
        padding-right: 4px;
        font-weight: 400;
        font-size: 75%;
      }
    }
    .aws_onsale{
      background: $text-color;
      font-size: 10px;
      height: 16px;
    }
    .aws_search_more{
      a{
        background: $text-color;
        color: $main-color;
        border: 1px solid $text-color;
        &:hover{
          background: $main-color;
          color: $text-color;
        }
      }
    }
  }
}

@import 'partials/mini-cart';