body{
  background: #fff;
  font-size: 14px;
  line-height: 1.2;
}

.container-fluid{
  @media(min-width:1600px){
    padding-left: 90px;
    padding-right: 90px;
  }
}

.section-title{
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 125.9%;
  letter-spacing: 0.06em;
  color: $text-color;
  margin-bottom: 30px;
  @media(min-width:768px){
    font-size: 54px;
    margin-bottom: 45px;
  }
  @media(min-width:1600px){
    font-size: 64px;
    margin-bottom: 60px;
  }
}

.section-title-sm{
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 125.9%;
  letter-spacing: 0.06em;
  color: $text-color;
  margin-bottom: 10px;
  @media(min-width:768px){
    font-size: 40px;
    margin-bottom: 20px;
  }
  @media(min-width:1600px){
    font-size: 48px;
    margin-bottom: 30px;
  }
}

p{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.9%;
  color: #9B9B9B;
  @media(min-width:1600px){
    font-size: 21px;
  }
}

.order-md-2{
  @media(min-width:768px){
    order:2;
  }
}

.btn{
  padding: 18px 0;
  background: $btn-bg;
  border: none;
  color: $main-color;
  width: 250px;
  font-weight: bold;
  font-size: 18px;
  line-height: 125.9%;
  transition: .3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  &-white{
    background: $text-color;
    color: $main-color;
    border-color: $main-color;
    width: 300px;
    &:hover{
      background: $main-color;
      color: $text-color;
    }
  }
  &-border{
    background-color: transparent;
    border: 1px solid $text-color;
    color: $text-color;
    &:hover{
      border-color: $active-color;
      color: $main-color;
    }
  }
  &:hover{
    background: $active-color;
  }
}

.section-subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 124.4%;
  color: #9B9B9B;
  margin-bottom: 15px;
  @media(min-width:768px){
    font-size: 26px;
  }
  @media(min-width:1600px){
    font-size: 36px;
  }
}

.link{
  color: $active-color;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  @media(min-width:768px){
    font-size: 16px;
  }
  @media(min-width:1600px){
    font-size: 17px;
  }
  &:hover{
    text-decoration: underline;
  }
  &-def{
    &:before{
      content:"";
      width: 22px;
      height: 1px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      background: $active-color;
    }
  }
}

.text{
  &-right{
    text-align: right;
  }
  &-left{
    text-align: left;
  }
  &-center{
    text-align: center;
  }
  &-right, &-left, &-center{
    img{
      display: inline-block;
    }
  }
}