@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

strong, b {
  font-weight: 700; }

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

* {
  box-sizing: border-box;
  outline: none !important; }

*:before, *:after {
  box-sizing: border-box; }

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

template {
  display: none; }

html, body {
  overflow-x: hidden; }

body {
  color: #3A3C48;
  line-height: 1.2;
  font-size: 14px;
  background: #ffffff; }

img {
  max-width: 100%; }

#card-errors {
  color: #3A3C48; }

.hide--tel header .note,
.hide--aff .footer-menu ul a.btn {
  display: none !important; }

sup {
  vertical-align: super;
  font-size: 60%; }

em {
  font-style: italic; }

/* Bootstrap Grid 4 */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fluid {
  width: 100%;
  max-width: 1920px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row-center {
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    @media (max-width: 768px) {
      .row-center {
        text-align: center; } }
  .row-wrap {
    flex-wrap: wrap;
    -webkit-box-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    .row-wrap .flex {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
              align-items: stretch;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; }

@media (min-width: 1600px) {
  .home .container {
    max-width: 1540px; }
  .home .row {
    margin-right: -30px;
    margin-left: -30px; }
  .home .col-1, .home .col-2, .home .col-3, .home .col-4, .home .col-5, .home .col-6, .home .col-7, .home .col-8, .home .col-9, .home .col-10, .home .col-11, .home .col-12, .home .col,
  .home .col-auto, .home .col-sm-1, .home .col-sm-2, .home .col-sm-3, .home .col-sm-4, .home .col-sm-5, .home .col-sm-6, .home .col-sm-7, .home .col-sm-8, .home .col-sm-9, .home .col-sm-10, .home .col-sm-11, .home .col-sm-12, .home .col-sm,
  .home .col-sm-auto, .home .col-md-1, .home .col-md-2, .home .col-md-3, .home .col-md-4, .home .col-md-5, .home .col-md-6, .home .col-md-7, .home .col-md-8, .home .col-md-9, .home .col-md-10, .home .col-md-11, .home .col-md-12, .home .col-md,
  .home .col-md-auto, .home .col-lg-1, .home .col-lg-2, .home .col-lg-3, .home .col-lg-4, .home .col-lg-5, .home .col-lg-6, .home .col-lg-7, .home .col-lg-8, .home .col-lg-9, .home .col-lg-10, .home .col-lg-11, .home .col-lg-12, .home .col-lg,
  .home .col-lg-auto, .home .col-xl-1, .home .col-xl-2, .home .col-xl-3, .home .col-xl-4, .home .col-xl-5, .home .col-xl-6, .home .col-xl-7, .home .col-xl-8, .home .col-xl-9, .home .col-xl-10, .home .col-xl-11, .home .col-xl-12, .home .col-xl,
  .home .col-xl-auto {
    padding-left: 30px;
    padding-right: 30px; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1600px) {
  .col-xxl-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .offset-xxl-1 {
    margin-left: 8.333333%; } }

.align-items__center {
  -webkit-box-align: center;
          align-items: center; }

.order-1 {
  -webkit-box-ordinal-group: 2;
          order: 1; }

@media (min-width: 576px) {
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
            order: 1; } }

@media (min-width: 768px) {
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
            order: 1; } }

@media (min-width: 992px) {
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
            order: 1; } }

html, body {
  font-family: 'Merriweather', serif; }

body {
  background: #fff;
  font-size: 14px;
  line-height: 1.2; }

@media (min-width: 1600px) {
  .container-fluid {
    padding-left: 90px;
    padding-right: 90px; } }

.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 125.9%;
  letter-spacing: 0.06em;
  color: #3A3C48;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 54px;
      margin-bottom: 45px; } }
  @media (min-width: 1600px) {
    .section-title {
      font-size: 64px;
      margin-bottom: 60px; } }

.section-title-sm {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 125.9%;
  letter-spacing: 0.06em;
  color: #3A3C48;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .section-title-sm {
      font-size: 40px;
      margin-bottom: 20px; } }
  @media (min-width: 1600px) {
    .section-title-sm {
      font-size: 48px;
      margin-bottom: 30px; } }

p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.9%;
  color: #9B9B9B; }
  @media (min-width: 1600px) {
    p {
      font-size: 21px; } }

@media (min-width: 768px) {
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
            order: 2; } }

.btn {
  padding: 18px 0;
  background: #E6BEAF;
  border: none;
  color: #ffffff;
  width: 250px;
  font-weight: bold;
  font-size: 18px;
  line-height: 125.9%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none; }
  .btn-white {
    background: #3A3C48;
    color: #ffffff;
    border-color: #ffffff;
    width: 300px; }
    .btn-white:hover {
      background: #ffffff;
      color: #3A3C48; }
  .btn-border {
    background-color: transparent;
    border: 1px solid #3A3C48;
    color: #3A3C48; }
    .btn-border:hover {
      border-color: #FE6F61;
      color: #ffffff; }
  .btn:hover {
    background: #FE6F61; }

.section-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 124.4%;
  color: #9B9B9B;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .section-subtitle {
      font-size: 26px; } }
  @media (min-width: 1600px) {
    .section-subtitle {
      font-size: 36px; } }

.link {
  color: #FE6F61;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .link {
      font-size: 16px; } }
  @media (min-width: 1600px) {
    .link {
      font-size: 17px; } }
  .link:hover {
    text-decoration: underline; }
  .link-def:before {
    content: "";
    width: 22px;
    height: 1px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background: #FE6F61; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right img, .text-left img, .text-center img {
  display: inline-block; }

.main-header, .main-footer {
  position: relative;
  z-index: 2; }

.main-header {
  padding-top: 15px; }
  @media (min-width: 768px) {
    .main-header {
      padding-top: 30px; } }
  .main-header .row > div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
  .main-header .logo {
    display: block;
    width: 100px; }
    @media (min-width: 1200px) {
      .main-header .logo {
        width: 160px; } }
    .main-header .logo-post {
      margin: 0 auto; }
  .main-header .aws-container {
    width: 250px;
    max-width: 100%; }
  .main-header .aws-wrapper {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
    .main-header .aws-wrapper:before {
      content: "⚲";
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      z-index: 2;
      font-size: 20px; }
  .main-header .aws-search-field {
    padding: 0 !important;
    border-color: transparent; }
    .main-header .aws-search-field:hover, .main-header .aws-search-field:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important; }

.main-nav {
  width: 100%; }
  @media (max-width: 767px) {
    .main-nav {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      background: #ffffff;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out; }
      .main-nav.active {
        opacity: 1;
        visibility: visible; }
        .main-nav.active ul {
          -webkit-transform: scale(1) translate(0, 0);
                  transform: scale(1) translate(0, 0); } }
  .main-nav ul {
    width: 100%; }
    @media (max-width: 767px) {
      .main-nav ul {
        text-align: center;
        -webkit-transform: scale(0) translate(0, 100%);
                transform: scale(0) translate(0, 100%);
        -webkit-transition: -webkit-transform .5s ease-in-out .3s;
        transition: -webkit-transform .5s ease-in-out .3s;
        transition: transform .5s ease-in-out .3s;
        transition: transform .5s ease-in-out .3s, -webkit-transform .5s ease-in-out .3s; } }
    @media (min-width: 768px) {
      .main-nav ul {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: justify;
                justify-content: space-between; } }
    .main-nav ul li {
      margin: 0; }
      @media (max-width: 767px) {
        .main-nav ul li {
          margin: 15px 0; } }
      .main-nav ul li.menu-item-has-children {
        position: relative; }
        .main-nav ul li.menu-item-has-children:after {
          content: "▼";
          font-size: 75%;
          margin-left: 7.5px; }
        .main-nav ul li.menu-item-has-children:hover .sub-menu {
          max-height: 1000px;
          visibility: visible;
          opacity: 1; }
      .main-nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #3A3C48;
        overflow: hidden;
        position: relative; }
        @media (max-width: 767px) {
          .main-nav ul li a {
            font-size: 18px;
            line-height: 1.5; } }
        .main-nav ul li a:after {
          -webkit-transition: width .25s ease-in-out;
          transition: width .25s ease-in-out;
          content: "";
          width: 0px;
          height: 1.5px;
          background: #3A3C48;
          position: absolute;
          left: 0;
          top: 100%; }
        .main-nav ul li a:hover:after {
          width: 100%; }
      .main-nav ul li.current-menu-item a {
        font-weight: 700;
        cursor: default;
        pointer-events: none; }
        .main-nav ul li.current-menu-item a:hover:after {
          width: 0; }
    .main-nav ul.sub-menu {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 999;
      display: block;
      max-width: 1000px;
      width: auto;
      -webkit-transform: translate(-15px, 15px);
              transform: translate(-15px, 15px);
      min-width: 150px;
      background: #fff;
      box-shadow: 0 10px 60px rgba(0, 0, 0, 0.09);
      padding: 15px;
      max-height: 0px;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: .5s ease;
      transition: .5s ease; }
      .main-nav ul.sub-menu li {
        display: block; }
        .main-nav ul.sub-menu li:not(:first-child) {
          margin-top: 7.5px; }
  .main-nav-btn {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: inline-block;
    margin-left: 10px; }
    @media (min-width: 768px) {
      .main-nav-btn {
        display: none; } }
    .main-nav-btn span {
      height: 1px;
      background: #3A3C48;
      display: block;
      width: 100%;
      margin: 5px 0;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease; }
    .main-nav-btn.active {
      position: relative;
      z-index: 99999; }
      .main-nav-btn.active span {
        position: absolute; }
        .main-nav-btn.active span:nth-child(1) {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg); }
        .main-nav-btn.active span:nth-child(2) {
          opacity: 0; }
        .main-nav-btn.active span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg); }

.aws-search-result {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); }
  .aws-search-result .aws_result_title {
    color: #3A3C48 !important;
    font-size: 15px;
    margin-bottom: 5px; }
  .aws-search-result .aws_result_price {
    font-size: 15px;
    font-weight: 700; }
    .aws-search-result .aws_result_price del {
      padding-right: 4px;
      font-weight: 400;
      font-size: 75%; }
  .aws-search-result .aws_onsale {
    background: #3A3C48;
    font-size: 10px;
    height: 16px; }
  .aws-search-result .aws_search_more a {
    background: #3A3C48;
    color: #ffffff;
    border: 1px solid #3A3C48; }
    .aws-search-result .aws_search_more a:hover {
      background: #ffffff;
      color: #3A3C48; }

.mini-cart {
  position: relative;
  width: 100%; }
  .mini-cart > img {
    display: block;
    float: right; }
  .mini-cart:hover .widget_shopping_cart {
    max-height: 1000px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    visibility: visible; }
  .mini-cart .widget_shopping_cart {
    visibility: hidden;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px;
    z-index: 10;
    background: #fff;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 320px; }
    .mini-cart .widget_shopping_cart li {
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .mini-cart .widget_shopping_cart a.remove {
      display: block;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      color: red;
      text-decoration: none;
      font-size: 20px;
      opacity: .4;
      position: absolute;
      right: 0;
      top: 0; }
    .mini-cart .widget_shopping_cart span.quantity {
      position: absolute;
      left: 70px;
      bottom: 15px; }
      .mini-cart .widget_shopping_cart span.quantity span {
        font-weight: 700; }
    .mini-cart .widget_shopping_cart a + a {
      display: -webkit-box;
      display: flex;
      font-size: 15px;
      color: #000;
      text-decoration: none;
      padding-right: 16px; }
      .mini-cart .widget_shopping_cart a + a img {
        width: 60px;
        height: auto;
        margin-right: 10px;
        float: left; }
    .mini-cart .widget_shopping_cart .woocommerce-mini-cart__total {
      text-align: right; }
    .mini-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message {
      font-size: 14px; }
    .mini-cart .widget_shopping_cart .woocommerce-mini-cart__buttons {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      padding-top: 15px; }
      .mini-cart .widget_shopping_cart .woocommerce-mini-cart__buttons a {
        -webkit-box-flex: calc(50% - 5px);
                flex: calc(50% - 5px);
        max-width: calc(50% - 5px);
        display: block;
        padding: 7.5px;
        background: #3A3C48;
        border: 1px solid #3A3C48;
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
        .mini-cart .widget_shopping_cart .woocommerce-mini-cart__buttons a:hover {
          background: #ffffff;
          color: #3A3C48; }

.main-footer {
  background: #FFF8F7;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .main-footer .row {
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .main-footer .row .col {
      -webkit-box-flex: unset;
              flex-grow: unset;
      width: auto;
      flex-basis: auto;
      display: block; }
      @media (max-width: 767px) {
        .main-footer .row .col {
          width: 100%;
          margin-top: 15px;
          margin-bottom: 15px;
          text-align: center; } }
  @media (min-width: 1600px) {
    .main-footer .container {
      max-width: 1200px; } }
  .main-footer h2.section-title {
    margin-bottom: 18px;
    text-align: center; }
    .main-footer h2.section-title + p {
      font-size: 14px;
      margin-bottom: 30px;
      text-align: center; }
      @media (min-width: 768px) {
        .main-footer h2.section-title + p {
          font-size: 18px;
          margin-bottom: 90px; } }
  .main-footer p {
    font-size: 14px;
    font-weight: 300; }
  .main-footer .call {
    background: url("../img/icon-call.jpg") no-repeat center top;
    padding-top: 55px; }
    @media (min-width: 768px) {
      .main-footer .call {
        background: url("../img/icon-call.jpg") no-repeat left top;
        padding-left: 65px;
        padding-top: 0; } }
  .main-footer .logo {
    display: block;
    width: 125px; }
    @media (max-width: 767px) {
      .main-footer .logo {
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      .main-footer .logo {
        width: 177px; } }
    @media (min-width: 1200px) {
      .main-footer .logo {
        margin-bottom: 50px; } }
    .main-footer .logo img {
      width: 100%;
      height: auto; }
  .main-footer form {
    display: -webkit-box;
    display: flex;
    width: 600px;
    margin-bottom: 30px;
    margin-top: 15px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .main-footer form {
        margin-bottom: 60px; } }
    .main-footer form input {
      height: 40px;
      font-size: 13px; }
      @media (min-width: 768px) {
        .main-footer form input {
          font-size: 15px; } }
      .main-footer form input[name="s_email"] {
        height: 50px; }
        .main-footer form input[name="s_email"] + [type="submit"] {
          height: 50px;
          font-size: 13px; }
          @media (min-width: 768px) {
            .main-footer form input[name="s_email"] + [type="submit"] {
              font-size: 16px; } }
  .main-footer h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px; }
  .main-footer a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #3A3C48;
    text-decoration: none; }
    .main-footer a:hover {
      text-decoration: underline; }
  .main-footer .footer-menu li {
    padding: 5px 0; }

.subscribe-part h2 {
  font-size: 24px;
  text-align: center; }
  @media (min-width: 768px) {
    .subscribe-part h2 {
      font-size: 40px; } }

.subscribe-part p {
  font-size: 12px !important;
  text-align: center; }
  @media (min-width: 768px) {
    .subscribe-part p {
      font-size: 18px !important; } }

.subscribe-part input[type='email'] {
  -webkit-transition: 1s ease;
  transition: 1s ease; }

.content {
  padding-top: 30px;
  padding-bottom: 15px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .content {
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media (min-width: 1200px) {
    .content {
      padding-top: 45px;
      padding-bottom: 45px; } }
  .content:before {
    content: "";
    height: 626px;
    width: 1920px;
    display: block;
    position: absolute;
    z-index: 1;
    background: url("../img/bg.jpg") no-repeat bottom center/100% auto;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
    @media (max-width: 767px) {
      .content:before {
        display: none; } }
  .content .container {
    position: relative;
    z-index: 2; }

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 126.8%;
  text-align: center;
  color: #000000;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 34px; } }

.btn {
  background: #44AF44;
  display: block;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 125.9%;
  visibility: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: translate(0, 100%) scale(0);
          transform: translate(0, 100%) scale(0); }
  @media (min-width: 768px) {
    .btn {
      font-size: 22px; } }
  @media (min-width: 1200px) {
    .btn {
      font-size: 24px; } }
  @media (min-width: 1921px) {
    .btn {
      width: 746px; } }
  .btn-show {
    visibility: visible;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1); }

.video {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px; }
  .video-btn {
    padding: 10px;
    border: none;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    color: #fff;
    fill: #fff;
    border-radius: 50%;
    opacity: .5;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer;
    -webkit-animation: 1s linear 0s infinite alternate scale;
            animation: 1s linear 0s infinite alternate scale;
    background: rgba(254, 111, 97, 0.4); }
    @media (min-width: 768px) {
      .video-btn {
        width: 150px;
        height: 150px;
        padding: 30px; } }
    @media (min-width: 1200px) {
      .video-btn {
        width: 200px;
        height: 200px; } }
    .video-btn:hover {
      -webkit-transition: -webkit-transform 1s ease;
      transition: -webkit-transform 1s ease;
      transition: transform 1s ease;
      transition: transform 1s ease, -webkit-transform 1s ease;
      opacity: .7;
      -webkit-animation: none;
              animation: none; }
    .video-btn__hide {
      display: none;
      -webkit-animation: none;
              animation: none;
      visibility: hidden;
      z-index: 0; }
    .video-btn img {
      display: block;
      pointer-events: none; }
  .video-player {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); } }

@keyframes scale {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); } }
