@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

strong, b {
  font-weight: 700; }

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

* {
  box-sizing: border-box;
  outline: none !important; }

*:before, *:after {
  box-sizing: border-box; }

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

template {
  display: none; }

html, body {
  overflow-x: hidden; }

body {
  color: #3A3C48;
  line-height: 1.2;
  font-size: 14px;
  background: #ffffff; }

img {
  max-width: 100%; }

#card-errors {
  color: #3A3C48; }

.hide--tel header .note,
.hide--aff .footer-menu ul a.btn {
  display: none !important; }

sup {
  vertical-align: super;
  font-size: 60%; }

em {
  font-style: italic; }

/* Bootstrap Grid 4 */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fluid {
  width: 100%;
  max-width: 1920px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row-center {
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    @media (max-width: 768px) {
      .row-center {
        text-align: center; } }
  .row-wrap {
    flex-wrap: wrap;
    -webkit-box-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    .row-wrap .flex {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
              align-items: stretch;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; }

@media (min-width: 1600px) {
  .home .container {
    max-width: 1540px; }
  .home .row {
    margin-right: -30px;
    margin-left: -30px; }
  .home .col-1, .home .col-2, .home .col-3, .home .col-4, .home .col-5, .home .col-6, .home .col-7, .home .col-8, .home .col-9, .home .col-10, .home .col-11, .home .col-12, .home .col,
  .home .col-auto, .home .col-sm-1, .home .col-sm-2, .home .col-sm-3, .home .col-sm-4, .home .col-sm-5, .home .col-sm-6, .home .col-sm-7, .home .col-sm-8, .home .col-sm-9, .home .col-sm-10, .home .col-sm-11, .home .col-sm-12, .home .col-sm,
  .home .col-sm-auto, .home .col-md-1, .home .col-md-2, .home .col-md-3, .home .col-md-4, .home .col-md-5, .home .col-md-6, .home .col-md-7, .home .col-md-8, .home .col-md-9, .home .col-md-10, .home .col-md-11, .home .col-md-12, .home .col-md,
  .home .col-md-auto, .home .col-lg-1, .home .col-lg-2, .home .col-lg-3, .home .col-lg-4, .home .col-lg-5, .home .col-lg-6, .home .col-lg-7, .home .col-lg-8, .home .col-lg-9, .home .col-lg-10, .home .col-lg-11, .home .col-lg-12, .home .col-lg,
  .home .col-lg-auto, .home .col-xl-1, .home .col-xl-2, .home .col-xl-3, .home .col-xl-4, .home .col-xl-5, .home .col-xl-6, .home .col-xl-7, .home .col-xl-8, .home .col-xl-9, .home .col-xl-10, .home .col-xl-11, .home .col-xl-12, .home .col-xl,
  .home .col-xl-auto {
    padding-left: 30px;
    padding-right: 30px; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1600px) {
  .col-xxl-10 {
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .offset-xxl-1 {
    margin-left: 8.333333%; } }

.align-items__center {
  -webkit-box-align: center;
          align-items: center; }

.order-1 {
  -webkit-box-ordinal-group: 2;
          order: 1; }

@media (min-width: 576px) {
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
            order: 1; } }

@media (min-width: 768px) {
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
            order: 1; } }

@media (min-width: 992px) {
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
            order: 1; } }

html, body {
  font-family: 'Work Sans', sans-serif; }

body {
  background: #fff;
  font-size: 14px;
  line-height: 1.2; }

@media (min-width: 1600px) {
  .container-fluid {
    padding-left: 90px;
    padding-right: 90px; } }

.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 125.9%;
  letter-spacing: 0.06em;
  color: #3A3C48;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 54px;
      margin-bottom: 45px; } }
  @media (min-width: 1600px) {
    .section-title {
      font-size: 64px;
      margin-bottom: 60px; } }

.section-title-sm {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 125.9%;
  letter-spacing: 0.06em;
  color: #3A3C48;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .section-title-sm {
      font-size: 40px;
      margin-bottom: 20px; } }
  @media (min-width: 1600px) {
    .section-title-sm {
      font-size: 48px;
      margin-bottom: 30px; } }

p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.9%;
  color: #9B9B9B; }
  @media (min-width: 1600px) {
    p {
      font-size: 21px; } }

@media (min-width: 768px) {
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
            order: 2; } }

.btn {
  padding: 18px 0;
  background: #E6BEAF;
  border: none;
  color: #ffffff;
  width: 250px;
  font-weight: bold;
  font-size: 18px;
  line-height: 125.9%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none; }
  .btn-white {
    background: #3A3C48;
    color: #ffffff;
    border-color: #ffffff;
    width: 300px; }
    .btn-white:hover {
      background: #ffffff;
      color: #3A3C48; }
  .btn-border {
    background-color: transparent;
    border: 1px solid #3A3C48;
    color: #3A3C48; }
    .btn-border:hover {
      border-color: #FE6F61;
      color: #ffffff; }
  .btn:hover {
    background: #FE6F61; }

.section-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 124.4%;
  color: #9B9B9B;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .section-subtitle {
      font-size: 26px; } }
  @media (min-width: 1600px) {
    .section-subtitle {
      font-size: 36px; } }

.link {
  color: #FE6F61;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .link {
      font-size: 16px; } }
  @media (min-width: 1600px) {
    .link {
      font-size: 17px; } }
  .link:hover {
    text-decoration: underline; }
  .link-def:before {
    content: "";
    width: 22px;
    height: 1px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background: #FE6F61; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right img, .text-left img, .text-center img {
  display: inline-block; }

body {
  overflow: hidden;
  text-align: center; }

.main-header, .main-footer {
  display: none; }

.page404 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100vh; }
  .page404 h1 {
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    color: #3A3C48;
    z-index: 2;
    position: relative; }
    @media (min-width: 768px) {
      .page404 h1 {
        font-size: 64px;
        line-height: 85px; } }
  .page404 .bg-num {
    position: relative; }
    .page404 .bg-num span {
      font-weight: 500;
      font-size: calc(100vw / 3);
      line-height: 1;
      color: rgba(230, 190, 175, 0.5);
      z-index: 1; }
      @media (min-width: 768px) {
        .page404 .bg-num span {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); } }
  .page404 .btn {
    position: relative;
    z-index: 2;
    background: #E6BEAF;
    color: #ffffff;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    width: 244px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #ffffff;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin-top: 30px;
    padding: 0; }
    @media (min-width: 768px) {
      .page404 .btn {
        margin-top: 180px; } }
    .page404 .btn:hover {
      background: #FE6F61; }
